@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

body {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

table>tbody>tr>td {
    vertical-align: middle;
}

.form-control,
.btn {
    font-size: 17px;
}

h3 {
    font-size: 28px;
    font-weight: 700;
}
